.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__link {
  padding: 4px;
  &:active {
    color: $black;
  }
  &:focus-visible {
    outline: none;
    border-radius: 3px;
    background-color: rgba($blue, 0.2);
    color: $blue;
  }
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #c4c4c4;
  transition: all 0.2s ease-in;
  &:hover {
    color: #b1acac;
  }
  &:not(:last-child) {
    padding-right: 12px;
    margin-right: 6px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 6px;
    height: 11px;
    background-image: url(../img/sprite/arrow-right.svg);
  }
}

.breadcrumbs__item:last-child::after {
  display: none;
}
