.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__wrapper {
}

.breadcrumbs__list {
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #c4c4c4;
  transition: all 0.2s ease-in;
  &:hover {
    color: #b1acac;
  }
  &:not(:last-child) {
    padding-right: 16px;
    margin-right: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 6px;
    height: 11px;
    background-image: url(../img/sprite/arrow-right.svg);
  }
}

.breadcrumbs__item:last-child::after {
  display: none;
}
