.catalog {
}

.catalog__title {
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: 700;
}

// ------------------------------------------- Filter
.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.catalog__filter-item button {
  // padding: 5px 22px;
  // border: none;
  // background-color: $gray-bg;
  // color: rgba($black, 0.7);
  // border-radius: 3px;
  // margin-right: 8px;
  // line-height: 17px;
  // transition: all 0.2s ease-in;
  // cursor: pointer;

  display: block;
  height: 33px;
  padding: 5px 20px;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &:active {
    background: rgba($blue, 0.8);
    color: $white;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    border-radius: 12px;
    color: $blue;
  }
}

.catalog__filter-btn {
  display: flex;
  gap: 4px;
  align-items: center;
}

.catalog__filter-btn button {
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.catalog__filter-btngrid,
.catalog__filter-btnline {
  width: 33px;
  height: 33px;
  padding: 3px;
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    border-radius: 3px;
    color: $blue;
  }
}

// ------------------------------------------- Inner
.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.catalog__left-column {
}

.catalog__right-column {
}

.catalog__inner-list {
  display: grid;
  grid-template-columns: repeat(3, 271px);
  gap: 28px;
  margin-bottom: 70px;
}

.catalog__inner-item {
  width: 271px;
  height: 403px;
}

.catalog-item {
  width: 271px;
  height: 403px;
  padding: 52px 0px 31px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
}

.catalog-item__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-item__bottom {
  padding: 0 20px;
}

.catalog-item__image {
  width: 250px;
  height: 190px;
  object-fit: contain;
}

// ----------------------------------------- Aside
.catalog__inner-aside {
  width: 290px;
  height: 1330px;
}

// ------------------------------------------ Pagination

.pagination {
  width: 100%;
}

.pagination__list {
  display: flex;
  justify-content: center;
}

.pagination__item {
  font-size: 18px;
  font-weight: 400;
  font-family: "Barlow";
  color: #c4c4c4;
  &--active {
    color: $blue;
    border: 2px solid $blue;
    font-weight: 600;
    cursor: default;
  }
  &:not(:last-child) {
    margin-right: 4px;
  }
}

.pagination__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px 2px rgba($blue, 0.8);
    color: $blue;
  }
}

// ------------------------------------------------ Select
.select-css {
  margin-right: 19px;
  display: block;
  width: 178px;
  height: 33px;
  padding: 5px 20px;
  border: 2px solid #c4c4c4;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  &::-ms-expand {
    display: none;
  }
  &:hover {
    border-color: #888;
  }
  &:focus-visible {
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    outline: none;
  }
  option {
    font-weight: normal;
  }
}

*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
