.header {
  margin: 25px 0 78px;
}

// ----------------------------------- Header-Top
.header__top {
  min-height: 100px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
}

.menu {
  max-width: 500px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  padding: 10px;
  border-radius: 12px;
  transition: all 0.15s ease-in;
  &:hover {
    color: $blue;
  }
  &:active {
    color: $blue-down;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 12px;
  transition: all 0.15s ease-in;
  &:hover {
    color: $blue;
  }
  &:active {
    color: $blue-down;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
}

.header__column {
  display: flex;
  justify-content: space-between;
}

.header__adress {
  display: flex;
  align-items: center;
  gap: 3px;
  max-width: 265px;
  margin-right: 60px;
  padding: 5px 10px 0 10px;
  border-radius: 12px;
  transition: all 0.15s ease-in;
  &:hover {
    color: $blue;
  }
  &:active {
    color: $blue-down;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
  svg {
    margin-bottom: 10px;
  }
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 34px;
  padding: 5px;
  border-radius: 12px;
  transition: all 0.15s ease-in;
  &:hover {
    color: $blue;
  }
  &:active {
    color: $blue-down;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
}

// ------------------------------------------ Header-Bottom
.header__bottom {
  min-height: 53px;
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  background-color: $gray-bg;
  align-items: center;
  padding: 5px 15px;
}

.menu-categories__item {
  position: relative;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

.menu-categories__link {
  padding: 10px;
  transition: all 0.3s ease-in;
  &:hover {
    color: #000;
  }
  &:active {
    color: rgba($color: #000000, $alpha: 0.6);
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
    border-radius: 12px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    bottom: -3px;
    background-color: $blue;
    height: 3px;
    transition: all 0.3s ease-in;
  }
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.cart {
  position: relative;
}

.cart-number {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  color: $white;
  background-color: $blue;
  text-align: center;
}

// ------------------------------ Button
.main-nav__toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 24px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    border-radius: 12px;
    color: $blue;
    .main-nav__menu,
    .main-nav__menu::before,
    .main-nav__menu::after {
      background-color: $blue;
    }
  }
  @media (min-width: 968px) {
    display: none;
  }
}

.main-nav__menu {
  position: absolute;
  display: block;
  width: 34px;
  height: 3px;
  border-radius: 20px;
  background-color: $black;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 34px;
    left: 0;
    border-radius: 20px;
    background-color: $black;
    transition-duration: 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
}

.main-nav__toggle.main-nav__toggle_active {
  .main-nav__menu {
    transition-duration: 0.1s;
    transition-delay: 0.25s;
    background: transparent;
    &::before {
      transition: top 0.25s, transform 0.25s 0.25s;
      top: 0px;
      transform: rotateZ(-45deg);
    }
    &::after {
      transition: top 0.4s, transform 0.25s 0.25s;
      top: 0px;
      transform: rotateZ(45deg);
    }
  }
}

// ---------------------------------------- menu-mobile
.menu-mobile {
  display: none;
  position: absolute;
  transform: translateX(-110%);
  width: 243px;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in;
  background-color: $white;
  &_active {
    transform: translateX(0);
  }
}

.menu-mobile__item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__link {
  display: block;
  padding: 20px 0 10px 52px;
  font-size: 20px;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: rgba($blue, 0.5);
    color: $white;
  }
  &:focus-visible {
    outline: none;
    background-color: rgba($blue, 0.5);
    color: $white;
  }
}

.menu-mobile__image {
  position: absolute;
  left: 11px;
  bottom: 12px;
}

// ---------------------------- scroll-menu
.scroll-menu {
  display: none;
  background-color: $gray-bg;
}

.scroll-menu__list {
  padding: 5px 0;
}
