@media (max-width: 1200px) {
  // --------------------------------- Banner
  .banner__inner {
    justify-content: space-around;
  }

  .banner__slider-list {
    max-width: 600px;
  }

  .banner__image {
    min-height: 380px;
    max-width: 600px;
  }

  // ----------------------------- Catalog
  .catalog__inner-list {
    justify-content: space-around;
  }

  .catalog__inner-item {
    .product-item__wrapper {
      margin: 0;
    }
  }
}

@media (max-width: 1120px) {
  // --------------------------------Header
  .menu__item:not(:last-child) {
    margin-right: 20px;
  }

  .header__adress {
    margin-right: 20px;
  }
}

@media (max-width: 1020px) {
  // --------------------------------Header
  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__adress {
    margin-right: 0;
  }
}

@media (max-width: 968px) {
  // --------------------------------Header
  .header {
    margin-bottom: 0;
  }

  .page__wrapper {
    padding: 0;
  }

  .header__top-inner {
    gap: 36px;
  }

  .header__bottom {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .menu__item {
    font-size: 20px;
    font-weight: 700;
  }

  // --------------------------------- Banner
  .banner__inner {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 25px 0;
  }

  .banner__image {
    min-height: 280px;
    max-width: 100%;
  }

  // ------------------------------- Catalog
  .breadcrumbs {
    padding: 0 20px;
  }

  .catalog {
    padding: 0 20px;
  }

  // --------------------------------------- Delivery
  .delivery__tabs-content {
    padding: 0 20px;
  }

  .product-card__wrapper {
    padding: 0 20px;
  }

  // --------------------------------- Products__tabs
  .products__tabs {
    display: grid;
    gap: 30px;
    padding: 0 20px 10px 0;
    margin-left: 20px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.3em;
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }

  .products__tab:not(:last-child) {
    margin: 0;
  }
}

@media (max-width: 910px) {
  // ------------------------------- Catalog Широкие карточки
  .catalog-item--column {
    .product-item__title {
      width: 180px;
      padding: 6px 0;
      font-size: 14px;
    }
    .product-item__price {
      font-size: 20px;
    }
    .catalog-item__bottom {
      padding: 0 10px;
    }
  }
}

// --------------------------------------- Delivery
@media (max-width: 890px) {
  .tabs__content.tabs__content--active {
    display: flex;
    flex-wrap: wrap;
  }

  .delivery__top {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 40px;
    background-color: transparent;
  }

  .delivery__item::before {
    display: none;
  }

  .card__top {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 120px;
    margin: 0 20px 0 0;
  }

  .card__heading {
    font-size: 18px;
  }

  .card__mode:not(:last-child) {
    margin: 0;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 140px;
    padding: 0;
  }

  .card__button-buy {
    margin-left: -140px;
    width: 280px;
    height: 50px;
    font-weight: 600;
    font-size: 15px;
  }

  .card__description--hide {
    display: none;
  }

  .card__top-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 40px;
  }

  .card__top-right {
    padding: 8px 0;
    border-bottom: 0.5px solid #c4c4c4;
    width: 280px;
  }

  .card__label {
    color: $black;
    font-size: 16px;
  }

  .card__label-radio {
    padding: 0;
    width: 100%;
    color: $black;
    font-size: 16px;
  }

  .card__input-text {
    width: 280px;
    background-color: $white;
    border: 0.5px solid #c4c4c4;
    &::placeholder {
      font-family: inherit;
      color: #c4c4c4;
      font-size: 15px;
    }
  }

  .card__input-radio + .card__label-radio::before {
    left: auto;
    right: 0;
  }

  .card__input-radio:checked + .card__label-radio::after {
    left: auto;
    right: 3px;
  }

  // ------------------------------- Главная страница инпут с кнопкой поиска
  .search__content-input {
    border-radius: 0;
  }

  .search__content-button {
    margin: 0;
    font-size: 0;
    line-height: 0;
    border-radius: 0;
    color: transparent;
    background-color: $gray-bg;
    background-image: url(../img/sprite/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: rgba($blue, 0.3);
    }
    &:active {
      background-color: rgba($blue, 0.6);
    }
  }

  // ------------------------------ Product-card
  .product-card__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .product-card__img-box {
    order: 2;
  }

  .product-card__more,
  .product-card__btn-buy {
    display: none;
  }

  .product-card__button-mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  // -------------------------------------- Catalog
  .catalog-item--column {
    height: 300px;
  }

  .catalog__filter {
    justify-content: flex-end;
    gap: 30px;
    flex-direction: column;
  }

  .catalog__filter-item {
    order: 2;
  }

  .catalog__filter-btn {
    justify-content: flex-start;
  }

  .select-css {
    margin: 0;
  }

  .catalog__filter-btn {
    gap: 10px;
  }

  .catalog-item--column,
  .catalog-item__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .catalog-item--column .catalog-item__bottom {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .product-item__favorite {
    top: 6px;
  }

  .product-item__notify-link {
    bottom: 10px;
    left: 16px;
  }

  .product-item__title {
    width: auto;
    margin: 0;
  }

  .catalog-item--column .product-item__price {
    font-size: 18px;
  }
}

@media (max-width: 666px) {
  // --------------------------------Header
  .header__top {
    min-height: 60px;
  }

  .header__top-inner {
    gap: 6px;
  }

  .page__wrapper {
    padding: 0;
  }

  .header__adress {
    display: none;
  }

  .logo {
    width: 100px;
    height: 50px;
    margin: 0;
  }
}

@media (max-width: 640px) {
  // ---------------------------------- Catalog
  .catalog__inner {
    flex-direction: column;
  }

  .catalog__left-column {
    display: none;
  }

  .catalog__left-column--show {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  .catalog__right-column {
    width: 100%;
  }

  .catalog__inner-aside {
    width: 100%;
    height: 100%;
  }

  .catalog__inner-list {
    justify-content: space-between;
  }

  .catalog-item--column .product-item__price {
    font-size: 14px;
  }

  .catalog__filter {
    justify-content: flex-start;
  }

  .btn__filter-show {
    display: block;
  }

  // -------------------------------------- Product-card
  .product-card__content {
    padding: 0;
  }

  .product-card__title {
    font-size: 21px;
  }
}

@media (max-width: 600px) {
  // --------------------------------- Banner
  .banner__slider-list {
    max-width: 360px;
  }

  .banner__image {
    max-width: 360px;
    min-height: 190px;
  }

  // ----------------------------------------- Catalog
  .catalog__inner-list {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  // ------------------------------------ Product-Card
  .product-card__tabs-container {
    display: none;
  }

  .product-card__raiting-container {
    margin: 0;
  }

  .product-card__img-box {
    padding-top: 44px;
  }

  .product-card.page__section {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .catalog__filter-item {
    display: grid;
    gap: 10px;
    padding: 0 0 8px 0;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .catalog__filt-btn {
    width: max-content;
  }
}

@media (max-width: 420px) {
  // ------------------------------------ catalog
  .catalog__filter {
    gap: 20px;
  }

  .select-css {
    margin-right: 6px;
  }

  .products__title {
    text-align: center;
  }
}

@media (max-width: 359px) {
  // --------------------------------- Banner
  .banner__slider-list {
    max-width: 320px;
  }

  .banner__image {
    max-width: 320px;
    min-height: 164px;
  }
}
