.products__wrapper {
  max-width: 1170px;
}

.products__title {
  font-size: 25px;
  margin-bottom: 25px;
}

.tabs__wrapper {
  // margin-bottom: 35px;
  margin-bottom: 25px;
}

.products__tabs {
  // margin-bottom: 25px;
  margin-bottom: 8px;
}

.products__tab {
  padding-bottom: 10px;
  font-size: 15px;
  &:not(:last-child) {
    margin-right: 50px;
  }
  &:hover {
    color: #000;
  }
  &:active {
    color: rgba($color: #000000, $alpha: 0.8);
  }
  &:focus-visible {
    outline: none;
    border-bottom: 2px solid $blue;
  }
}

.products__tab.tab--active {
  border-bottom: 2px solid $blue;
}

.tabs__container {
  width: 100%;
}

.products__container {
  width: 100%;
}

.products__content {
  width: 100%;
}

.product-slider {
  width: 100%;
}

.product-slider__item {
  width: 271px;
  height: 442px;
  padding: 16px 0 0 10px;
}

.product-item__wrapper {
  position: relative;
  transition: all 0.2s ease-in;
  &:hover {
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    .product-item {
      border: none;
    }
    .product-item__title {
      color: $blue;
    }
    .product-item__price {
      color: $blue;
    }
    .product-item__hover-text {
      opacity: 1;
    }
  }
}

.product-item {
  width: 271px;
  height: 403px;
  padding: 52px 20px 31px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
  }
}

.product-item__favorite {
  position: absolute;
  right: 19px;
  top: 16px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 5;
  cursor: pointer;
  &:focus-visible {
    outline: none;
    transform: scale(1.1);
    .product-item__icon {
      color: $blue;
    }
  }
}

.product-item__icon {
  vertical-align: top;
  height: 24px;
  color: #c4c4c4;
  transition: all 0.2s ease-in;
  &:hover {
    color: rgba($blue, 0.6);
  }
  &--active {
    color: $blue;
  }
}

.product-item__image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-item__title {
  width: 230px;
  padding: 14px 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease-in;
}
.product-item__price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 30px;
  transition: all 0.2s ease-in;
}

.product-item__basket {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 10px 0px 0px 0px;
  width: 60px;
  height: 40px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    background-color: rgba($blue, 0.8);
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
    background-color: rgba($blue, 0.1);
  }
}

.product-item__hover-text {
  position: absolute;
  top: 30%;
  display: inline-block;
  z-index: 9;
  padding: 18px 21px;
  background-color: rgba($white, 0.9);
  color: $black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 20px;
  transition: all 0.2s ease-in;
  opacity: 0;
}

.product-item--sale::before {
  content: "SALE";
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.07em;
}

.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__notify-link {
  position: absolute;
  bottom: 25px;
  left: 42px;
  color: $blue;
  font-size: 16px;
  display: none;
  border-bottom: 1px solid $blue;
  z-index: 9;
  &:hover {
    font-weight: 700;
  }
  &:focus-visible {
    outline: none;
    border-bottom: 2px solid black;
    font-weight: 700;
  }
}

.product-item__wrapper.product-item__not-available {
  .product-item__price,
  .product-item__basket {
    display: none;
  }
  .product-item__notify-link {
    display: block;
  }
}

.banner-bottom {
  display: flex;
}

.banner-bottom__image {
  width: 100%;
  vertical-align: top;
}

.banner-bottom__link {
  width: 100%;
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 15px #ff34c0;
  }
}

.product__more {
  text-align: center;
}

.product__more-link {
  padding: 16px 42px;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: $gray-bg;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
    border-radius: 12px;
  }
  &:active {
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    background-color: rgba($blue, 0.6);
    color: $white;
    border-radius: 12px;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
    border-radius: 12px;
  }
}

@media (max-width: 968px) {
  .products__title,
  .products__tabs {
    padding: 0 20px;
  }

  .product-item__wrapper {
    margin-left: 20px;
  }
}

@media (max-width: 640px) {
  .product-slider .slick-dots {
    text-align: left;
    padding-left: 105px;
  }

  .product__more {
    text-align: left;
    padding-left: 44px;
  }

  .product-slider__item {
    padding: 16px 0 0 0;
  }
}
