.product-card__wrapper {
  display: flex;
  justify-content: space-between;
}

// -------------------------- Левая колонка
.product-card__img-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  &::before {
    padding: 13px 25px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
  }
}

.product-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card__old {
  display: inline-block;
  font-family: "Barlow";
  font-size: 30px;
  line-height: 44px;
  opacity: 0.6;
  background-image: url(../img/icon/line.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card__new {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.product-card__link {
  padding: 4px;
  font-size: 15px;
  color: $blue;
  transition: all 0.2s ease-in;
  &:hover {
    color: rgba($blue, 0.8);
  }
  &:focus-visible {
    outline: none;
    border-radius: 3px;
    background-color: rgba($blue, 0.2);
    color: $blue;
  }
}

// -------------------------- Правая колонка
.product-card__content {
  max-width: 570px;
}

.product-card__title {
  font-weight: 700;
  font-size: 30px;
}

.product-card__code {
  font-size: 15px;
  opacity: 0.6;
  margin-bottom: 22px;
}

.product-card__raiting-container {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}

.product-card__button {
  transition: all 0.2s ease-in;
  padding: 0 5px;
  border: none;
  background-color: transparent;
  color: $black;
  cursor: pointer;
  &:hover {
    color: rgba($blue, 0.8);
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px rgba($blue, 0.8);
    color: $blue;
    border-radius: 8px;
  }
}

.product-card__button--active {
  color: $blue;
}

.product-card__tabs {
  margin-bottom: 20px;
}

.product-card__tabs-item {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
  &:not(:last-child) {
    margin-right: 34px;
  }
  &:focus-visible {
    outline: 2px solid rgba($blue, 0.8);
    border-radius: 8px;
    color: $blue;
    opacity: 1;
  }
}

.product-card__tabs-item.tab--active {
  opacity: 1;
  border-bottom: 2px solid $blue;
}

.product-card__list {
  width: 482px;
  margin-bottom: 20px;
}

.product-card__item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid rgba($black, 0.1);
  font-size: 20px;
}

.product-card__key {
  padding-right: 20px;
}

.product-card__value {
  width: 210px;
}

.product-card__more {
  margin-bottom: 40px;
  color: $blue;
  border-bottom: 1px solid $blue;
  transition: all 0.2s ease-in;
  &:hover {
    color: rgba($blue, 0.5);
  }
  &:focus-visible {
    outline: none;
    color: #7afa43;
    border-bottom-color: #7afa43;
  }
}

.product-card__btn-buy {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  padding: 16px 53px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    background-color: rgba($blue, 0.8);
  }
  &:active {
    background-color: $blue;
    color: #7afa43;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px#7afa43;
    color: #7afa43;
    border-radius: 8px;
  }
}
