.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 12px 26px;
  font-size: 20px;
  transition: all 0.2s ease-in;
  &:hover {
    border-radius: 5px;
    background-color: $gray-bg;
  }
  &:focus-visible {
    outline: none;
    border-radius: 5px;
    background-color: $gray-bg;
    box-shadow: 0px 0px 8px rgba($blue, 0.8) inset;
  }
}

.search__tabs-item.tab--active {
  border-radius: 5px;
  background-color: $gray-bg;
  font-weight: 700;
}

.tabs__content {
  display: none;
}

.tabs__content.tabs__content--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
  background-color: $gray-bg;
  font-size: 16px;
  &::placeholder {
    color: #656464;
  }
  &:focus-visible {
    outline: none;
    background-color: $gray-bg;
    box-shadow: 0px 0px 3px rgba($blue, 0.8) inset;
  }
}

.search__content-button {
  padding: 17px 40px;
  border-radius: 3px;
  border: none;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin-left: -3px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    background-color: rgba($blue, 0.8);
  }
  &:active {
    background-color: rgba($blue, 0.6);
    color: $black;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 4px 1px rgba(#7afa43, 0.8) inset;
    color: #7afa43;
  }
}

@media (max-width: 768px) {
  .search__tabs {
    display: flex;
    flex-direction: column;
  }

  .search__tabs-item {
    max-width: 310px;
  }
}
