// ---------------------------------- slick-slider
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in;
  &:hover {
    color: $blue;
  }
  &:focus-visible {
    outline: none;
    color: rgba($blue, 0.8);
  }
}

.banner-btn {
  background-color: transparent;
  color: $gray;
  border: none;
  cursor: pointer;
}

.banner-btn__left {
  left: 20px;
  z-index: 2;
}

.banner-btn__right {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid $white;
  background-color: transparent;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: $white;
  &:focus-visible {
    background-color: yellow;
  }
}

// --------------------- Product
// .products {
//   .slick-slider {
//     max-width: 1170px;
//   }
// }

.products-popular {
  .slick-slider {
    max-width: 1170px;
  }
}

.product-slider__btn {
  background-color: transparent;
  color: $black;
  border: none;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &:focus-visible {
    outline: none;
    color: rgba($blue, 0.8);
  }
}

.product-slider__btn_left {
  left: -40px;
  z-index: 2;
}

.product-slider__btn_right {
  right: -40px;
}

.slick-slide img {
  display: inline;
}

.product-slider {
  .slick-dots {
    bottom: -30px;
    .slick-active {
      button {
        background-color: $blue;
      }
    }
    button {
      background-color: #c4c4c4;
    }
  }
}

@media (max-width: 1300px) {
  .tabs__wrapper {
    margin-bottom: 45px;
  }

  .product-slider__btn_right {
    right: 0;
  }
}
