.star {
  width: 180px;
  height: 600px;
  background-color: rgb(165, 223, 218);
  margin: 0 auto;
}

.raiting {
  border: none;
  margin: 0;
}

.raiting__container {
  padding: 4px;
  background-color: transparent;
  width: 148px;
}

.raiting__group {
  position: relative;
  width: 100%;
  height: 25px;
  background-image: url(../img/icon/star-off.svg);
  background-size: 2em auto;
  background-repeat: repeat-x;
  &:focus-visible {
    outline: 0.2em solid rgb(83, 155, 184);
    outline-offset: 0.7em;
  }
}

.raiting__caption {
  margin-bottom: 0.5em;
}

.raiting__star {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  font-size: inherit;
  background-repeat: repeat-x;
  background-size: 2em auto;
  -webkit-tap-highlight-color: transparent;
  &:focus-visible {
    outline: 2px solid rgba($blue, 0.8);
    border-radius: 8px;
  }
  &:checked,
  &:hover {
    background-image: url(../img/icon/star-on.svg);
  }
  &:hover ~ .raiting__star {
    background-image: url(../img/icon/star-off.svg);
  }
  &:nth-of-type(1) {
    z-index: 5;
    width: 2em;
  }
  &:nth-of-type(2) {
    z-index: 4;
    width: 4em;
  }
  &:nth-of-type(3) {
    z-index: 3;
    width: 6em;
  }
  &:nth-of-type(4) {
    z-index: 2;
    width: 8em;
  }
  &:nth-of-type(5) {
    z-index: 1;
    width: 10em;
  }
}
