img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  min-height: 0;
  min-width: 0;
}
